
body{
    padding: 10px;
    text-align: center;
}
table.morpion.main {
    width: calc(min(100vh, 100vw) - 20px);
    height: calc(min(100vh, 100vw) - 20px);
    border-spacing: 0 !important;
}
table.morpion div.case,
table.morpion.sub{
    width: 100%;
    height: 100%;
}
table.morpion {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
}
div.case{
    border: 5px solid black;
    border-radius: min(1vh, 1vw);
}
div.case.sub {
    border: 1px solid black;
    cursor: pointer;
}